ai/models/sa2va/
api-server/ai/models/sa2va/

*.json
*.db
*.log

external/
static/chart_data/*
static/color/*
static/matching/*
static/QA/*
static/binary/*
static/img/*

dbs/0819csv
domain/ai_re

migrations/*.pyc

*.pyc
*.pyo
*.pyd
__pycache__/
**/__pycache__/
.env

api-server/static/img_json/data.json
static/img_json/data.json

web_db/*
api-server/web_db/*

chroma_db_oai/*
chroma_db_azure/*
.exrc

*.bin
*.pickle
*.pkl
*.sqlite3
