fastapi
uvicorn
pillow
pandas
openpyxl
python-multipart
requests
python-dotenv==1.1.1
python-docx
python-pptx
orjson
google-ai-generativelanguage==0.7.0
google-api-core==2.25.1
google-api-python-client==2.179.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-cloud-vision==3.10.2
google-genai>=1.39.0
googleapis-common-protos==1.70.0
sqlalchemy
matplotlib
scipy
scikit-learn
squarify
websockets==14.1
opencv-contrib-python==4.10.0.84
numpy>=1.24,<2.0
mediapipe==0.10.14
